# Introduction to Set theory Assignment

#### Each car (Mary’s car + 2 others = 3 total) can choose one of three directions: Left (L), Straight (S), or Right (R). We’ll denote a full outcome by a 3-letter sequence such as "LLL" (all go left), or "RSR" (1st right, 2nd straight, 3rd right). The total number of possible outcomes is 3^3=27.

## a. Set A: All cars drive in the same direction
- This means all three cars choose the same option. So: A = {LLL, SSS, RRR}

## b. Set B: All cars drive in different directions
- This means each car takes a unique direction, using all three options (L, S, R). There are 
3!=6 such permutations:

- B = {LSR, LRS, SLR, SRL, RLS, RSL}

## c. Set C: Exactly 2 cars turn right
- So two cars must choose "R" and the third must choose either "L" or "S" (but not R).

- There are:

   - 2 R's and 1 L: RRL, RLR, LRR

   - 2 R's and 1 S: RRS, RSR, SRR

C = {RRL, RLR, LRR, RRS, RSR, SRR}

## d. Set D: Exactly 2 cars drive in the same direction
- This means a majority pair and one odd one out — but not all the same (that would be part of Set A).

- Let’s count all such combinations where exactly two match:

  - L, L, S: LLS, LSL, SLL

  - L, L, R: LLR, LRL, RLL

  - S, S, L: SSL, SLS, LSS

  - S, S, R: SSR, SRS, RSS

  - R, R, L: RRL, RLR, LRR

  - R, R, S: RRS, RSR, SRR

Total of 18 elements:

D = {LLS, LSL, SLL, LLR, LRL, RLL, SSL, SLS, LSS, SSR, SRS, RSS, RRL, RLR, LRR, RRS, RSR, SRR}

## e. Interpret and list outcomes
### I. D′ (complement of D)
- This is the set of all outcomes not in D.

Since total outcomes = 27, and |D| = 18, we just need to list the other 9 outcomes:

D′ = {LLL, SSS, RRR, LSR, LRS, SLR, SRL, RLS, RSL}

That’s:

  - Set A (all same): {LLL, SSS, RRR}

  - Set B (all different): {LSR, LRS, SLR, SRL, RLS, RSL}

### II. C ∩ D (intersection of sets C and D)
- These are outcomes that appear in both C and D.

From earlier:

  - C = {RRL, RLR, LRR, RRS, RSR, SRR}

  - D includes all of those (check D list above)

So:

C ∩ D = {RRL, RLR, LRR, RRS, RSR, SRR}

Which means: all of C is a subset of D.

### III. C ∪ D (union of sets C and D)
- This includes all unique elements from either C or D.

Since C is a subset of D:

C ∪ D = D

So:

C ∪ D = {LLS, LSL, SLL, LLR, LRL, RLL, SSL, SLS, LSS, SSR, SRS, RSS, RRL, RLR, LRR, RRS, RSR, SRR}

## The European Countries

In [9]:
import pandas as pd

!pip install openpyxl

import openpyxl

# Load the datasets
# Load Europe and EU
df = pd.read_excel(r"Europe_and_EU.xlsx", sheet_name = 'Europe')
df1 = pd.read_excel(r"Europe_and_EU.xlsx", sheet_name = 'EU')

# preview the data
df.head()
df1.head()

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate
3,4,Italy,60589445,11.84,-0.13,-76001,60494000,2018-01-01,Monthly official estimate
4,5,Spain,46528966,9.09,0.19,89037,46549045,2017-07-01,Official estimate

In [10]:
# Clean whitespaces in the 'Country' column
df['Country'] = df['Country'].str.strip()

In [11]:
df1["Country"] = df["Country"].str.strip()

In [13]:
# Remove leading/trailing and normalize internal whitespace
df['Country'] = df['Country'].str.strip().str.replace(r'\s+', ' ', regex=True)

df1['Country'] = df1['Country'].str.strip().str.replace(r'\s+', ' ', regex=True)